<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Sampleapi\Sampleapi\Api\CustomRepositoryInterface" type="Sampleapi\Sampleapi\Model\CustomRepository"/>
	<preference for="Sampleapi\Sampleapi\Api\Data\CustomDataInterface" type="Sampleapi\Sampleapi\Model\Data\CustomData"/>
</config>